<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span th:if="${result == 1}">
        <script>
            alert("로그인 성공");
        </script>
        <span th:if="${session.users} != null">
            <span th:if="${session.users.role} == 0">
                <script>
                    window.location='/diary/main';
                </script>
            </span>
            <span th:if="${session.users.role} == 1">
                <script>
                    window.location='/qna/list';
                </script>메인2</span>
            <span th:if="${session.users.role} == 2">
                <script>
                    window.location='/admin/userManage';
                </script>
            </span>
        </span>
    </span>
    <span th:if="${result == 0}">
        <script>
            alert("로그인 실패");
            history.go(-1);
        </script>
    </span>
</body>
</html>