<span th:if="${session.sid} != 1">
    <span th:if="${role} == 0">
        <script>
            alert('메인1로 이동');
            window.location='@{/user/main1}';
        </script>
    </span>
    <span th:if="${role} == 2">
        <script>
            alert('메인2로 이동');
            window.location='@{/user/main2}';
        </script>메인2</span>
    <span th:if="${role} == 3">
        <script>
            alert('메인1로 이동');
            window.location='@{/user/main1}';
        </script>
    </span>
</span>
<span th:if="@{session.sid} == 0">
    history.go(-1);
</span>