<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:replace="~{fragments/header.html :: headerFragment}"></div>
    <div class="content-top">
        <div class="content-top-title">
            <center>글 내용</center>
            <hr width="600" align="center" color="orange">
        </div>
        <div class="content-top-btns">
            <div width="600" align="right">
                <span th:if="${ session.users.nick == idto.writer }">
                    <input type="button" value="수정" th:onclick="|window.location='@{/info/update(postNo=${idto.postNo}, pageNum=${pageNum})}'|"/>
                    <input type="button" value="삭제" th:onclick="|window.location='@{/info/delete(postNo=${idto.postNo}, pageNum=${pageNum})}'|"/>
                    <input type="button" value="글목록" th:onclick="|window.location='@{/info/list(pageNum=${pageNum}, category=${idto.category})}'|"/>
                </span>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="content-title-wrapper">
            <h3><span th:text="${idto.title}"></span></h3>
        </div>
        <div class="content-info-wrapper">
            <div class="content-writer-wrapper">
                작성자 : <span th:text="${idto.writer}"></span>
            </div>
             <div class="content-views-wrapper">
                조회수 | <span th:text="${idto.views}"></span>
            </div>
            <div class="content-reg-wrapper">
                작성일자 | <span th:text="${#temporals.format(idto.reg, 'yy/MM/dd HH:mm')}"></span>
            </div>
        </div>
        <div class="content-content-wrapper">
            <div th:text="${idto.content}"></div>
        </div>
    </div>
</body>
</html>
