<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
<div th:replace="~{fragments/header.html :: headerFragment}"></div>
    <div align="center">
        <table width="800">
            <tr>
                <td>
                    <a th:href="@{/info/write}">글쓰기</a>
                </td>
            </tr>
        </table>
    </div>
    <div th:if="${count == 0}">
        <table align="center" width="800">
            <tr>
                <td>
                    <h3>
                        정보 게시판 텅~!!!
                    </h3>
                </td>
            </tr>
        </table>
    </div>
    <div th:if="${count != 0}">
        <div align="center">
            <select id="category" name="category" onchange="changeCategory(this.value)">
                <option value="전체글" th:selected="${category} == '전체글'">전체글</option>
                <option value="소형견" th:selected="${category} == '소형견'">소형견</option>
                <option value="중형견" th:selected="${category} == '중형견'">중형견</option>
                <option value="대형견" th:selected="${category} == '대형견'">대형견</option>
            </select>
        <table align="center" width="800">
            <tr height="30">
                <th width="50">글번호</th>
                <th width="100">작성자</th>
                <th width="60">카테고리</th>
                <th width="350">제목</th>
                <th width="350">작성날짜</th>
            </tr>           
            <tr height="30" align="center" th:each="dto : ${list}">
                <td width="50" th:text="${dto.postNo}"></td>
                <td width="100" th:text="${dto.writer}"></td>
                <td width="60"th:text="${dto.category}"></td>
                <td width="350">
                    <a th:href="@{|/info/content?num=${dto.postNo}&pageNum=${pageNum}|}" th:text="${dto.title}"></a>
                </td>
                <td th:text="${#temporals.format(dto.reg, 'yy.MM.dd HH:mm')}" align="center"></td>
            </tr>
        </table>
    </div>
    <div class="paging" align="center" th:if="${count > 0}">
        <span th:if="${startPage} > ${pageCount}">
            <a th:href="@{|/info/list?pageNum=${startPage - pageBlock}&category=${category}|}">[이전]</a>
        </span>
        <span th:each="i : ${#numbers.sequence(startPage, endPage)}">
            <a th:href="@{|/info/list?pageNum=${i}&category=${category}|}" th:text="'['+${i}+']'"></a>
        </span>
        <span th:if="${endPage} < ${pageCount}">
            <a th:href="@{|/info/list?pageNum=${startPage + pageBlock}&category=${category}|}">[다음]</a>
        </span>
    </div>

    <script>
        function changeCategory(value) {
            if (value === "전체글") {
                location.href = "/info/list";
            } else {
                location.href = "/info/list?category=" + encodeURIComponent(value);
            }
        }
    </script>
</body>
</html>
