<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <span th:if="${result == 1}">
        <script th:inline="javascript">
            alert("글 작성 완료");
            let category = '전체글';
            window.location="/info/list?category="+encodeURIComponent(category);
        </script>
    </span>
    <span th:unless="${result == 1}">
        <script>
            alert("다시 작성해주세요.");
            history.go(-1);
        </script>
    </span>
</body>
</html>