<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:replace="~{fragments/header.html :: headerFragment}"></div>
    <div id="user-manage">
        <h1>회원관리</h1>
        <div id="select-users-info">
            <input type="text" id="keyword" placeholder="닉네임을 입력해주세요.">
            <button type="button" id="userSearchBtn">검색</button>
        </div>
        <span class="users-count">전체 회원수</span>
        <span th:text="${count}"></span>
        <div id="users-info">
            <div class="users-wrapper">
                <table>
                    <tr>
                        <td>아이디</td>
                        <td>이름</td>
                        <td>닉네임</td>
                        <td>가입일자</td>
                        <td>권한</td>
                        <td>활동 상태</td>
                    </tr>
                    <tr th:each="uto : ${list}">
                        <td th:text="${uto.id}"></td>
                        <td th:text="${uto.name}"></td>
                        <td th:text="${uto.nick}"></td>
                        <td th:text="${#temporals.format(uto.reg, 'yy.MM.dd')}"></td>
                        <td>
                            <select class="changeUserRole" th:attr="data-userid=${uto.id}">                <!-- 여기 수정  : data 의 속성명은 반드시 소문자로 (대문자 못읽음) -->
                                <option value="0" th:selected="${uto.role == 0}">사용자</option>
                                <option value="1" th:selected="${uto.role == 1}">수의사</option>
                                <option value="2" th:selected="${uto.role == 2}">관리자</option>
                            </select>
                        </td>
                        <td>
                            <select class="changeUserStatus" th:attr="data-userid=${uto.id}">
                                <option value="0" th:selected="${uto.status == 0}">활동중</option>
                                <option value="1" th:selected="${uto.status == 1}">활동 정지</option>
                                <option value="2" th:selected="${uto.status == 2}">탈퇴</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <div class="paging" align="center" th:if="${count > 0}">
                    <span th:if="${startPage} > ${pageCount}">
                        <a th:href="@{|/admin/userManage2?pageNum=${startPage - pageBlock}|}">[이전]</a>
                    </span>
                    <span th:each="i : ${#numbers.sequence(startPage, endPage)}">
                        <a th:href="@{|/admin/userManage2?pageNum=${i}|}" th:text="'|'+${i}+'|'"></a>
                    </span>
                    <span th:if="${endPage} < ${pageCount}">
                        <a th:href="@{|/admin/userManage2?pageNum=${startPage + pageBlock}|}">[다음]</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#userSearchBtn').click(function(){
                let keyword = $('#keyword').val().trim();

                if( keyword.length > 0 && keyword.length < 2 ){
                    alert('2글자 이상 입력해주세요.');
                    return;
                }

                $.ajax({
                    url : '/admin/searchUser',
                    type : 'post',
                    data : {
                        keyword : keyword
                    },
                    success : function(result){
                        $('#users-info').html(result);
                    },
                    error : function( xhr, status, error ){
                        console.log(error + ' 발생!');
                        alert('오류 발생!');
                    }
                });
            });
        });

        $(document).ready(function(){
            $('.changeUserRole').change(function(){
                let selectedRole = $(this).val();
                let userid = $(this).data('userid');

                $.ajax({
                    url : '/admin/changeUserRole',
                    type : 'post',
                    data : {
                        role : selectedRole,
                        id : userid
                    },
                    success : function( result ){
                        alert(result);
                        console.log(result);
                    },
                    error : function( xhr, status, error ){
                        alert('오류 발생');
                        console.log(error + ' --  발생');
                    }
                });
            });
        });

        $(document).ready(function(){
            $('.changeUserStatus').change(function(){
                let selectedStatus = $(this).val();
                let userid = $(this).data('userid');

                $.ajax({
                    url : '/admin/changeUserStatus',
                    type : 'post',
                    data : {
                        status : selectedStatus,
                        id : userid
                    },
                    success : function( result ){
                        alert(result);
                    },
                    error : function( xhr, status, error ){
                        alert('오류 발생');
                        console.log("오류 발생" + error);
                    }
                });
            });
        });
    </script>
</body>
</html>