<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>일지 수정</title>
<link rel="stylesheet" href="/css/edit.css">
<link rel="stylesheet" href="/css/header.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/header.html :: headerFragment}"></div>
  <h1>일지 수정</h1>

  <form th:action="@{/rec/edit}" th:object="${rec}" method="post">
    <input type="hidden" th:field="*{recNo}" />

    <label>제목</label>
    <input type="text" th:field="*{title}" required />

    <label for="category">카테고리</label>
    <select th:field="*{category}" id="category" required>
      <option value="밥">밥</option>
      <option value="간식">간식</option>
      <option value="배변">배변</option>
      <option value="배뇨">배뇨</option>
      <option value="약">약</option>
      <option value="병원">병원</option>
      <option value="활동">활동</option>
    </select>

    <label>내용</label>
    <textarea th:field="*{content}" rows="10"></textarea>

    <button type="submit">저장</button>
  </form>
</body>
</html>
