<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질의응답 상세</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/centersidebar.css">
    <link rel="stylesheet" href="/css/centerAskContent.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">
</head>
<body>
    <div th:replace="~{fragments/header.html :: headerFragment}"></div>

    <div class="center-container">
        <div class="sidebar-wrapper">
            <div th:replace="~{fragments/centersidebar.html :: centersidebar}"></div>
        </div>

        <div id="ask-content-wrapper">
            <h1>질의응답 내용</h1>

            <div class="content-top-btns">
                <div class="btn-group" align="right">
                    <span th:if="${ session.users.nick == ato.writer }">
                        <input type="button" value="수정" th:onclick="|window.location='@{/center/askUpdate(askNo=${ato.askNo}, pageNum=${pageNum})}'|"> &nbsp;&nbsp;
                        <input type="button" value="삭제" th:onclick="|window.location='@{/center/askDelete(askNo=${ato.askNo}, pageNum=${pageNum})}'|">
                    </span>
                    <span th:if="${ session.users.role == 2 }">
                        <input type="button" value="삭제" th:onclick="|window.location='@{/center/askDelete(askNo=${ato.askNo}, pageNum=${pageNum})}'|">
                    </span>
                </div>
            </div>

            <div class="content-body">
                <div class="content-title">
                    <h3 th:text="${ato.title}">질문 제목</h3>
                </div>

                <div class="content-info">
                    <div>
                        작성자 | <span th:text="${ato.writer}"></span>
                        &nbsp;&nbsp; 조회수 | <span th:text="${ato.views}"></span>
                    </div>
                    <div>
                        카테고리 | 
                        <span th:if="${ato.category == 0}">문의</span>
                        <span th:if="${ato.category == 1}">신고</span>
                        &nbsp;&nbsp; 작성일자 | 
                        <span th:text="${#temporals.format(ato.reg, 'yy/MM/dd HH:mm')}"></span>
                    </div>
                </div>

                <div class="content-image" th:if="${ato.originalName != null}">
                    <img th:src="@{|${ato.imgPath + ato.imgName}|}" alt="첨부 이미지">
                </div>

                <div class="content-text">
                    <p th:text="${ato.content}"></p>
                </div>
            </div>

            <div class="reply-section">
                <h4>관리자 답변</h4>

                <div class="reply-form" th:if="${session.users.role == 2}">
                    <form id="replyInsertForm">
                        <input type="hidden" id="askNo" th:value="${ato.askNo}">
                        <input type="hidden" id="writer" th:value="${session.users.nick}">
                        <textarea id="replyContent" placeholder="답변 내용을 입력하세요" required></textarea>
                        <button type="button" id="replyInsertBtn">답변 작성</button>
                    </form>
                </div>

                <input type="hidden" id="askNo" th:value="${ato.askNo}">
                <div id="replyList"></div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            loadReplies();
        });

        $(document).ready(function () {
            $('#replyInsertBtn').click(function () {
                $.ajax({
                    url: '/center/askReplyInsert',
                    type: 'post',
                    data: {
                        askNo: $('#askNo').val(),
                        writer: $('#writer').val(),
                        content: $('#replyContent').val()
                    },
                    success: function (result) {
                        alert(result);
                        $('#replyContent').val('');
                        loadReplies();
                    },
                    error: function (xhr, status, error) {
                        console.log(error + ' 발생');
                        alert('오류 발생');
                    }
                });
            });

            $(document).on('click', '.replyDelete', function () {
                let replyNo = $(this).closest('.reply-item').find('.replyNo').val();
                $.ajax({
                    url: '/center/replyDelete',
                    type: 'post',
                    data: {
                        replyNo: replyNo
                    },
                    success: function (a) {
                        alert(a);
                        loadReplies();
                    },
                    error: function (xhr, status, error) {
                        console.log('오류 : ' + error);
                        alert('오류 발생!');
                    }
                });
            });
        });

        function loadReplies() {
            $.ajax({
                url: '/center/askReplyList',
                type: 'post',
                data: {
                    askNo: $('#askNo').val()
                },
                success: function (replyTable) {
                    $('#replyList').html(replyTable);
                    console.log("성공");
                },
                error: function (xhr, status, error) {
                    console.log(error + "-- 발생");
                    alert("오류 발생");
                }
            });
        }
    </script>
</body>
</html>
