<!-- 여기에는 헤더 인클루드 -->

<div id="formArea"></div>
<!-- <div>여기는 달력</div> --> 
<button id="insert">글 쓰기</button>
<!-- <div>여기는 글 목록 출력</div> -->
<div>
    <table>
        <tr>
            ${ddto.fileImg}
        </tr>
        <tr>
            ${ddto.content}
        </tr>
    </table>
</div>
<script>
    document.getElementById("insert").onclick = () => {
        // 버튼 숨기기
        document.getElementById("insert").style.display = "none";

        const insertForm = document.createElement("form");
        insertForm.setAttribute("action", "/board/insert");
        insertForm.setAttribute("method", "multi-part/form");
        insertForm.setAttribute("enctype", "multipart/form-data");

        insertForm.innerHTML = 
        `
        <input type="file" name="uploadFile"><br>
        <textarea name="content" maxlength="200" placeholder="내용 입력"></textarea><br>
        <button type="submit">등록</button>
        `;

        document.getElementById("formArea").appendChild(insertForm);
        
    };
</script>