<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- 
 뭘 해야할까 
    게시글 출력
    달력에 게시글 표시
    달력에 맞게 게시글 조회

    글 작성 버튼
    다시 작성 버튼
    submit 버튼

    게시글 수정
    게시글 삭제
 -->


<!-- 여기에는 헤더 인클루드 -->

<!-- <div>여기는 달력</div> --> 
<button id="calendarBtn">달력 펼치기</button>
<div id="calendar"></div>


<div id="formArea"></div>
<button id="insert">글 쓰기</button>
<!-- <div>여기는 글 목록 출력</div> -->
<div th:if="${count == 0}">
    등록된 게시글이 없습니다.<br>
    게시글을 작성해주세요~
</div>

<div th:if="${count != 0}">
<table>
    <tr>
        <td>
            <img th:src="@{${ddto.imgPath} + ${ddto.imgName}}"/>
        </td>
    </tr>
    <tr>
        <td>
            <div th:text="${ddto.content}"></div>
        </td>
    </tr>
        <tr>
            <div th:text="${ddto.content}" id="contentDisplay"></div>
        </td>
    </tr>
    <tr>
        <td>
            <button id="update">수정하기</button>
        </td>
    </tr>
</table>
</div>

<script>
    document.getElementById("calendarBtn").onclick = () =>{
        // 버튼 추가
        const addCalendar = document.createElement("form");
        addCalendar.setAttribute("action", "/diary/insert");
        addCalendar.setAttribute("method", "post");
        addCalendar.innerHTML = 
        `
        <input type="date" name="startDate"/>
        <input type="date" name="endDate"/>
        `;
        document.getElementById("calendar").appendChild(addCalendar);
    };

    document.getElementById("insert").onclick = () => {
        // 버튼 숨기기
        document.getElementById("insert").style.display = "none";

        const insertForm = document.createElement("form");
        insertForm.setAttribute("action", "/diary/insert");
        insertForm.setAttribute("method", "multi-part/form");
        insertForm.setAttribute("enctype", "multipart/form-data");

        insertForm.innerHTML = 
        `
        <input type="file" name="uploadFile"><br>
        <textarea name="content" maxlength="200" placeholder="내용 입력"></textarea><br>
        <button type="submit">등록</button>
        `;

        document.getElementById("formArea").appendChild(insertForm);
        
    };
</script>