<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:replace="~{fragments/header.html :: headerFragment}"></div>
    <div class="content-top">
        <div class="content-top-title">
            <center>글 내용</center>
            <hr width="600" align="center" color="orange">
        </div>
        <div class="content-top-btns">
            <div width="600" align="right">
                <span th:if="${ (session.users.nick).equals(qto.writer) }">
                    <input type="button" value="수정" th:onclick="|window.location='@{/qna/update(postNo=${qto.postNo}, pageNum=${pageNum})}'|">  &nbsp;&nbsp;
                    <input type="button" value="삭제" th:onclick="|window.location='@{/qna/delete(postNo=${qto.postNo}, pageNum=${pageNum})}'|">
                </span>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="content-title-wrapper">
            <h3><span th:text="${qto.title}"></span></h3>
        </div>
        <div class="content-info-wrapper">
            <div class="content-writer-wrapper">
                작성자 | <span th:text="${qto.writer}"></span>
            </div>
            <div class="content-views-wrapper">
                조회수 | <span th:text="${qto.views}"></span>
            </div>
            <div class="content-reg-wrapper">
                작성일자 | <span th:text="${#temporals.format(qto.reg, 'yy/MM/dd HH:mm')}"></span>
            </div>
        </div>    
        <div class="content-image-wrapper" th:if="${qto.originalName != null}">
            <img th:src="@{${qto.imgPath}+${qto.imgName}}">    
        </div>
        <div class="content-content-wrapper">
            <div th:text="${qto.content}"></div>
        </div>
        <div class="content-btn-wrapper" th:if="${qto.showRecord == 1}">    <!-- 이 부분 이렇게 한번에 진행이 될까? -->
            <span th:if="${session.users.role == 1}">
                <button onclick="showRecord()">일지 보기</button>
            </span>
        </div>
    </div>

    <div class="reply-block">
        <div class="reply-insert-form">
            <form id="replyInsertForm">
                <input type="hidden" id="postNo" th:value="${dto.postNo}">
                <input type="hidden" id="writer" th:value="${session.users.nick}">
                <textarea id="replyContent" required></textarea>
                <button type="button" id="replyInsertBtn">답변 작성</button>
            </form>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- 일지 보기 버튼 클릭 시, 팝업창 open -->
    <script th:inline="javascript">
        function showRecord(){
            let writer = /*[['${qto.writer}']]*/ 'anonymous';
            window.open(
                '/qna/showRecord?nick=' + writer,
                'popupRecord',
                'width=600, height=400, left=100, top=100'
            );
        }
    </script>
    <!-- 답변 작성 클릭 시, ajax 실행 -->
    <script>
        $(document).ready(function(){
            $('#replyInsertBtn').click(function(){
                $.ajax({
                    url : '/qna/replyInsert',
                    type : 'post',
                    data : {
                        postNo : $('#postNo').val(),
                        writer : $('#writer').val(),
                        content : $('#replyContent').val()
                    },
                    success : function( result ){
                        alert('답변이 작성되었습니다.');
                        content : $('#replyContent').val('');
                    },
                    error : function( xhr, status, error ){
                        console.log(error + '  발생');
                        alert('오류 발생');
                    }
                });
            });
        });
    </script>
</body>
</html>