<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/qnaContent.css">
    <link rel="stylesheet" href="/css/qnaReplyList.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">
</head>
<body>
    <div th:replace="~{fragments/header.html :: headerFragment}"></div>
    <div class="content-top">
        <div class="content-top-title">
            <center>글 내용</center>
            <hr width="600" align="center" color="orange">
        </div>
        <div class="content-top-btns">
            <div width="600" align="right">
                <span th:if="${ session.users.nick == qto.writer }">
                    <input type="button" value="수정" th:onclick="|window.location='@{/qna/update(postNo=${qto.postNo}, pageNum=${pageNum})}'|">  &nbsp;&nbsp;
                </span>
                <span th:if="${session.users.nick == qto.writer || session.users.role == 2}">
                    <input type="button" value="삭제" th:onclick="|window.location='@{/qna/delete(postNo=${qto.postNo}, pageNum=${pageNum})}'|">  &nbsp;&nbsp;
                </span>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="content-title-wrapper">
            <h3><span th:text="${qto.title}"></span></h3>
        </div>
        <div class="content-info-wrapper">
            <div class="content-writer-wrapper">
                작성자 | <span th:text="${qto.writer}"></span>
                <span th:if="${session.users.role == 2}" class="copy-icon" th:attr="data-writer=${qto.writer}">
                    📋
                </span>
            </div>
            <div class="content-views-wrapper">
                조회수 | <span th:text="${qto.views}"></span>
            </div>
            <div class="content-reg-wrapper">
                작성일자 | <span th:text="${#temporals.format(qto.reg, 'yy/MM/dd HH:mm')}"></span>
            </div>
        </div>    
        <div class="content-image-wrapper" th:if="${qto.originalName != null}">
            <img th:src="@{|${qto.imgPath + qto.imgName}|}">    
        </div>
        <div class="content-content-wrapper">
            <div th:text="${qto.content}"></div>
        </div>
        <div class="content-btn-wrapper" th:if="${qto.showRecord == 1}">    <!-- 이 부분 이렇게 한번에 진행이 될까? -->
            <span th:if="${session.users.role == 1}">
                <button onclick="showRecord()">일지 보기</button>
            </span>
        </div>
    </div>

    <div class="content-bottom-btns">
        <input type="button" value="글목록" th:onclick="|window.location='@{/qna/list(pageNum=${pageNum})}'|">
    </div>

    <div class="reply-block">
        <div class="reply-insert-form" th:if="${session.users.role == 1}">      <!-- 수의사만 댓글 입력폼이 보이도록 설정 -->
            <form id="replyInsertForm">
                <input type="hidden" id="postNo" th:value="${qto.postNo}">
                <input type="hidden" id="writer" th:value="${session.users.nick}">
                <textarea id="replyContent" required></textarea>
                <button type="button" id="replyInsertBtn">답변 작성</button>
            </form>
        </div>
        <input type="hidden" id="postNo" th:value="${qto.postNo}">
        <div id="replyList"></div>  <!-- 여기에 리스트 출력시킬 예정 -->
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- 일지 보기 버튼 클릭 시, 팝업창 open -->
    <script th:inline="javascript">
        function showRecord() {
            let writer = /*[[${qto.writer}]]*/ 'anonymous'; // 작성자 닉네임 등 넘길 값

            window.open(
                '/qna/showRecord?nick=' + encodeURIComponent(writer),
                'popupRecord',
                'width=800,height=700'
            );
        }
    </script>

    <!-- 답변 작성 클릭 시, ajax 실행 -->
    <script>
        $(document).ready(function(){
            $('#replyInsertBtn').click(function(){
                $.ajax({
                    url : '/qna/replyInsert',
                    type : 'post',
                    data : {
                        postNo : $('#postNo').val(),
                        writer : $('#writer').val(),
                        content : $('#replyContent').val()
                    },
                    success : function( result ){
                        alert(result);
                        $('#replyContent').val('');
                        loadReplies();
                    },
                    error : function( xhr, status, error ){
                        console.log(error + '  발생');
                        alert('오류 발생');
                    }
                });
            });
        });

        // 답변 리스트를 보여주는 작업
        $(document).ready(function(){
            loadReplies();
        });

        // 답련 리스트 로딩 시키는 함수
        function loadReplies(){
            $.ajax({
                url : '/qna/replyList',
                type : 'post',
                data : {
                    postNo : $('#postNo').val()
                },
                success : function( replyTable ){
                    $('#replyList').html(replyTable);
                },
                error : function( xhr, status, error ){
                    console.log(error + "-- 발생");
                    alert("오류 발생");
                }
            });
        }
        

        // 답변 삭제 버튼 클릭 시 진행되는 ajax
        $(document).ready(function(){           // html 문서가 모두 로딩된 후 실행되는 함수
            $(document).on('click', '.replyDelete', function(){
            // .replyDelete 클래스를 가진 버튼이 클릭되었을 때 실행.
            // on() : 동적으로 생성된 요소에도 적용되도록 도와준다.  
            // --> 답변작성이라는 ajax 로 생성되어 ajax 로 리스트가 출력된 .replyDelete 라는 클래스명의 버튼에 click 이벤트를 넣어 함수 실행

                let replyNo = $(this).closest('.reply-item').find('.replyNo').val();
                // 클릭된 '.replyDelete' 버튼('this')을 기준으로
                // 가장 가까운 상위 요소 중 '.reply-item' 라는 클래스 선택자 이름을 가진 요소를 찾고
                // 그 내부에서 '.replyNo' 클래스를 가진 input 의 값을 가져온다.

                $.ajax({            // ajax 요청 시작
                    url : '/qna/replyDelete2',
                    type : 'post',
                    data : {
                        replyNo : replyNo
                    },
                    success : function(a){
                        alert(a);
                        loadReplies();
                    },
                    error : function( xhr, status, error ){
                        console.log('오류 : ' + error);
                        alert('오류 발생!');
                    }
                });
            });
        });

        // 작성자명을 클릭하여 복사하는 API 사용
        $(document).ready(function(){
            $(document).on('click', '.copy-icon', function(e){
                let writer = $(this).data('writer');
    
                navigator.clipboard.writeText(writer).then(function(){
                    alert(`"${writer}" 복사됨`);
                }).catch(function(err){
                    console.log("복사 실패 : ", err);
                });
            });
        });
    </script>
</body>
</html>