<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:replace="~{fragments/headers.html :: headersFragment}"></div>
    <div align="center">
        <table width="800">
            <tr>
                <td align="right">
                    <a th:href="@{/qna/write}">글쓰기</a>
                </td>
            </tr>
        </table>
    </div>
    <div th:if="${count == 0}">
        <table align="center" width="800">
            <tr>
                <td><h3>게시판에 작성된 글이 없습니다.</h3></td>
            </tr>
        </table>
    </div>
    <div th:if="${count != 0}">
        <table align="center" width="800">
            <tr height="30">
                <th width="350">글제목</th>
                <th width="100">작성자</th>
                <th width="150">답변 여부</th>
                <th width="200">작성일</th>
            </tr>
            <tr height="30" th:each="dto : ${list}">
                <td align="center">
                    <a th:href="@{|/qna/content?postNo=${dto.postNo}&pageNum=${pageNum}|}" th:text="${dto.title}"></a>
                </td>
                <td th:text="${dto.wrtier}" align="center"></td>
                <td align="center">
                    <span th:if="${dto.isAnswered == 0}">
                        <span>답변 대기중</span>
                    </span>
                    <span th:if="${dto.isAnswered == 1}">
                        <span>답변 완료</span>
                    </span>
                </td>
                <td th:text="${#temporals.format(dto.reg, 'yy-MM-dd HH:mm')}" align="center"></td>
            </tr>
        </table>
    </div>
    <div class="paging" align="center" th:if="${count > 0}">
        <span th:if="${startPage} > ${pageCount}">
            <a th:href="@{|/qna/list?pageNum=${startPage - pageBlock}|}">[이전]</a>
        </span>
        <span th:each="i : ${#numbers.sequence(startPage, endPage)}">
            <a th:href="@{|/qna/list?pageNum=${i}|}" th:text="'['+${i}+']'"></a>
        </span>
        <span th:if="${endPage} < ${pageCount}">
            <a th:href="@{|/qna/list?pageNum=${startPage + pageBlock}|}">[다음]</a>
        </span>
    </div>
</body>
</html>