<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="list-wrapper">
        <div th:if="${count == 0}">
            <span><h3>게시판에 작성된 글이 없습니다.</h3></span>
        </div>
        <div th:if="${count != 0}">
            <div align="center" width="800">
                <div class="rec-info" th:each="rto : ${allRecList}">
                    <select id="selectPetName" >
                        <option value="0">선택하세요</option>
                        <option value="${rto.petNo}"></option>
                        <option></option>
                    </select>
                    <span class="rec-category-wrapper">
                        <span th:text="${rto.category}"></span>
                    </span>
                    <span th:text="${#temporals.format(rto.reg, 'yy.MM.dd')}"></span>
                    <div class="rec-title-wrapper">
                        <a th:href="@{|/qna/recContent?recNo=${rto.recNo}|}" th:text="${rto.title}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>