<div class="reply-list">
    <span th:each="rto : ${list}" class="reply-item">
        <div class="reply-content">
            <div class="reply-title">
                <span th:if="${rto.status == 0}">
                    <span th:text="${rto.content}"></span>
                </span>
                <span th:if="${rto.status != 0}">
                    <span>관리자에 의해 제재된 사용자의 글입니다.</span>
                </span>
            </div>
            <div class="reply-info">
                <span th:text="${rto.writer}"></span>
                <span th:if="${session.users.role == 2}" class="copy-icon" th:attr="data-writer=${rto.writer}">
                    📋
                </span>
                <span th:text="${#temporals.format(rto.reg, 'yy/MM/dd HH:mm')}"></span>
            </div>
        </div>
        <input type="hidden" class="replyNo" th:value="${rto.replyNo}">
        <span th:if="${session.users.nick == rto.writer or session.users.role == 2}">
            <button class="replyDelete">삭제</button>
        </span>
    </span>
</div>