<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span th:if="${session.users == null}">
        <script>
            alert("로그인이 해제되었습니다.");
            window.location="@{/user/login}";
        </script>
    </span>
    <span th:if="${session.users != null}">
        <div th:replace="~{fragments/header.html :: headerFragment}"></div>
        <div class="body">
            <div class="body-top" align="center">
                <h2>글 수정</h2>
                <hr width="400" align="center">
            </div>
            <div class="body-content">
                <form th:action="@{/qna/update}" method="post" enctype="multipart/form-data">
                    <div class="update" align="center">
                        <div class="title-wrapper">
                            <label for="title">글 제목</label> : 
                            <input type="text" id="title" name="title" th:value="${qto.title}" required>
                        </div>
                        <div class="writer-wrapper">
                            <!--<input type="hidden" name="writer" th:value="${qto.writer}">-->
                            <span>작성자 : <span th:text="${qto.writer}"></span></span>
                        </div>
                        <div class="image-wrapper">
                            <label for="image">첨부파일</label> &nbsp;
                            <input type="file" id="image" name="image">
                            <span th:if="${qto.originalName != null}"><span th:text="${qto.originalName}"></span></span>
                        </div>
                        <div class="record-wrapper">
                            <span>일지 공유 여부 선택</span>    &nbsp;&nbsp;
                            Yes <input type="radio" name="showRecord" value="1" th:checked="${qto.showRecord} == '1'">    &nbsp;&nbsp;
                            No <input type="radio" name="showRecord" value="0" th:checked="${qto.showRecord} == '0'"> 
                        </div>
                        <div class="content-wrapper">
                            <label for="content">글 내용</label>    <br>
                            <textarea id="content" name="content" th:text="${qto.content}" required></textarea>
                        </div>
                        <div class="form-btns-wrapper">
                            <span class="reset-button">
                                <button type="reset">다시 작성</button>
                            </span> &nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="submit-button">
                                <button type="submit">수정하기</button>
                            </span>
                            <span class="cancel-button">
                                <button onclick="window.location='history.go(-1);'">취소</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </span>
</body>
</html>